* {
  	box-sizing: border-box;
  	font-family: 'Ubuntu', sans-serif;
  	font-size: 16px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

.intro {
	text-align: center;
}

.baseline{

    padding: 40px 40px 40px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 20px 20px;
    grid-template-areas:
    "first last"
    "zip"
    "DOB DOB house"
}

.form{
    margin 50px auto 0;
}

h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color:#3db54f;
}

h2{
    color:#3da1b5;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h3{

    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.navbar {
  background-color:#5b5d5e;
  overflow:hidden;
}


.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a.active {
  background-color: gray;
  color: white;
}