<!DOCTYPE html>
<style>

    form {
        display: inline-block;
    }

    body {
        text-align: center;
     }

</style>
<html lang="en">

    <head>
        <title>NEW JERSEY COVID-19 SYMPTOM TRACKER</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="top_title">
            <h2>Are you experiencing any of the following?</h2>
            <h3>(Check all that apply)</h3>
        </div>

        <div class="emergency">
            <form method="POST" action="/emergency_symptoms">
                <input type="checkbox" id="breathing" name="emergency" value="breathing">
                <label for="breathing">Extreme difficulty breathing</label><br>
                <input type="checkbox" id="blue" name="emergency" value="blue">
                <label for="blue">Blue-colored lips or face</label><br>
                <input type="checkbox" id="chest" name="emergency" value="chest">
                <label for="chest">Severe pain or pressure in the chest</label><br>
                <input type="checkbox" id="dizziness" name="emergency" value="dizziness">
                <label for="dizziness">Sever constant dizziness or light-headeness</label><br>
                <input type="checkbox" id="confused" name="emergency" value="confused">
                <label for="confused">Acting confused</label><br>
                <input type="checkbox" id="speech" name="emergency" value="speech">
                <label for="speech">Slurred speech</label><br>
                <input type="checkbox" id="seizures" name="emergency" value="seizures">
                <label for="seizures">Seizures</label><br>
                <input type="submit">

            </form>

        </div>

            <a href="{{ url_for('baseline_data') }}">Back</a>
            <a href="{{ url_for('exposure_data') }}">Next</a>


    </body>

</html>