<!DOCTYPE html>
<html>
<head>
    <title>NEW JERSEY COVID-19 SYMPTOM TRACKER</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>


    <br />
    <br />
    <br />
    <br />
    <h1 class="redtext" style="text-align:center;">Call 911. You may be having a medical emergency.</h1>
    <h1 style="text-align:center;">If you go to the emergency department,</h1>
    <h1 style="text-align:center;">call ahead to let them know you are coming.</h1>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

      <a href="{{ url_for('display_intro') }}">Back</a>

</body>
</html>